{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>时间线  | 吾知</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="{% static 'i/favicon.png' %}">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{% static 'i/app-icon72x72@2x.png' %}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{% static 'i/app-icon72x72@2x.png' %}">
  <meta name="msapplication-TileImage" content="{% static 'i/app-icon72x72@2x.png' %}">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
    </div>
</header>
<!-- header end -->
<hr>

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="/">首页</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          分类 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
        {% for tag in tags %}
          <li><a href="/tag/{{ tag.id }}/">{{ tag.tag }}</a></li>
        {% endfor %}
        </ul>
      </li>
      <li><a href="#">标准文章</a></li>
      <li><a href="/photo">图片库</a></li>
      <li class="am-active"><a href="/artic">存档</a></li>
      {% if coke == 0 %}
      <li><a href="/login">登录</a></li>
      {% endif %}
      
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 class="blog-text-center">-- 存档 --</h1>
        {% regroup posts by year as posts_by_year %}
        {% for year in posts_by_year %}
        <div class="timeline-year">
            <h1>{{ year.grouper }}</h1>
            <hr>
            {% regroup year.list by month as posts_by_month %}
            {% for month in posts_by_month %}
                <ul>
                <h3>{{ month.grouper }}月</h3>
                <hr>
                {% for post in month.list %}
                <li>
                    <span class="am-u-sm-4 am-u-md-2 timeline-span">{{ post.created }}</span>
                    <span class="am-u-sm-8 am-u-md-6"><a href="{{ post.created }}/{{ post.slug }}/">{{ post.title }}</a></span>
                    <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">{{ post.tag }}</span>
                    <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">{{ post.author }}</span>
                </li>
                {% endfor %}
                </ul>
                <br>
            {% endfor %}
        </div>
        {% endfor %}
        <hr>
    </div>


</div>
<!-- content end -->

 <footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>博客简介</h3>
            <p class="am-text-sm">这是一个个人技术博客。<br> 主要记录一些我自己学到的东西和一些个人想法。 <br> 我相信，任何一篇文章都会产生价值。<br>世界真的很精彩！<br><br>
            种一棵树，最好的时间是十年前，其次是现在。</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号 #目前不能用</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-reddit am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>吾知/无知</h3>
            <p>吾知，即我知道的。记录我知道的东西。无知，当你知道的越多，你才越明白自己究竟有多渺小。路漫漫其修远兮，吾将上下而求索。怕什么真理无穷，进一寸有一寸的欢喜。</p>          
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
              <h1>我们站在了巨人的肩膀上</h1>
             <h3>MySite</h3>
            <p>
                <ul>
                    <li>python</li>
                    <li>Django</li>
                    <li>sqlite</li>
                    <li>Nginx</li>
                    <li>...</li>
                </ul>
            </p>
        </div>
    </div>    
    <div class="blog-text-center">© 2018 任何问题请联系我. <a href="http://wuzhi.live" target="_blank" title="">wgwxuexi@gmail.com</a><a href="" title="" target="_blank"></a></div>  </footer>



<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="{% static 'js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="{% static 'js/amazeui.min.js' %}"></script>
<!-- <script src="{% static 'js/app.js"></script> -->
</body>
</html>